---
layout: page
title: Publication
description: This page contains publications.
---

<head>
<style>
table {
  # font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 0px solid #dddddd;
  padding: 1px;
}

tr:nth-child(even) {
  # background-color: #dddddd;
}

li {
    padding-bottom: 5px;
}

a {
	color: $text-color;
	text-decoration: none;
	font-weight: 200;
	&:hover,
	&:focus {
		color: darken($text-color, 5%);
	}
}

</style>
</head>

<h2>Publications</h2>

<p>The following publications are listed in chronological order. The latest is on the top.
<br>In the theoretical high energy community, the author list is usually alphabetical according to surname.</br></p>

<ul  style="list-style-type:circle;">

   {% for publication in site.publications reversed%}
    <li> 
    <b class="paper-title">{{ publication.title }}</b> <a href="https://arxiv.org/abs/{{publication.arXiv}}" > [arXiv: {{publication.arXiv}}] </a> 
     <i class="author-display">{{ publication.authors }}</i>
     <p class="abs-display"> {{ publication.content | truncatewords: 50 }}</p>
      </li>
   {% endfor %}
   
</ul>

	
		  <!-- Pagination links -->
      {% if paginator.total_pages > 1 %}
        <div class="pagination">
          {% if paginator.previous_page == 1 %}
            <a href="{{ '/' | prepend: site.baseurl | replace: '//', '/' }}" class="page-item">&laquo;</a>
          {% elsif paginator.previous_page%}
            <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="page-item">&laquo;</a>
          {% else %}
            <span class="page-item">&laquo;</span>
          {% endif %}
        
          {% for page in (1..paginator.total_pages) %}
            {% if page == paginator.page %}
              <span class="page-item">{{ page }}</span>
            {% elsif page == 1 %}
              <a href="{{ '/' | prepend: site.baseurl | replace: '//', '/' }}" class="page-item">{{ page }}</a>
            {% else %}
              <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}" class="page-item">{{ page }}</a>
            {% endif %}
          {% endfor %}
        
          {% if paginator.next_page %}
            <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="page-item">&raquo;</a>
          {% else %}
            <span class="page-item">&raquo;</span>
          {% endif %}
        </div>
        {% endif %}

	  </div>

